<div class="wrapper">
  <div class="container">

    <div id="slide" class="fx-column fx-y-center fx-x-center">
      <slider #slider="slider" [showControls]="false" timing="300ms ease-in-out">
        <ng-container *ngFor="let item of items">
          <ng-container *sliderItem>
            <div class="item fx-y-center fx-x-center">
              <h2>{{item.title}}</h2>
            </div>
          </ng-container>
        </ng-container>
      </slider>
  
      <div id="custom-slider-container">
        <button (click)="slider.prev()">Prev</button>
        <button (click)="slider.next()">next</button>
      </div>

    </div>
    
  </div>
</div>

